*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura;
    
}
*::selection{
    color: white;
    background-color: black;
}
html , body{
    height: 100%;
    width: 100%;

}
body{
    background-color: #F7F7F7;
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 26vh;
    padding-left: 2vw;
    padding-right: 2vw;

}
#page1 h1{
    font-size: 25vh;
    line-height: 23vh;
    font-weight: 600;
}
#img-container{
    height: 85vh;
    width: 100%;
    /* background-color: grey; */
    margin-top: 3vh;
   
}
#img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
}

#text{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-bottom: 1px solid rgb(111, 109, 109); */
}

#text h2{
    /* margin: 7vh; */
    font-size: 6vh;
}
#text h4{
    font-weight: lighter;
    font-size: 2vh;
    line-height: 10vh;
}
#text .line{
    height: 100px;
    width: 97%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#text .line h3{
    font-size: 12px;
    font-weight: lighter;
    color: #454444;
}
#text h3{
    font-size: 15px;
    font-weight: lighter;
    color: #282727;
}
#text .learn-underline:hover{
    text-decoration: underline 1px solid black;
    cursor: pointer;
}
#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
    
}
#page2 .elem{
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}
#page2 .elem .dets{
    height: 50px;
    width: 303px;
    background-color: #DCC0B4;
    position: absolute;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#page2 .elem .dets .inner-text1{
    font-size: 10px;
    font-weight: 100;
    font-family: gilroy; 
    letter-spacing: 2px; 
    color: rgb(97, 97, 97); 
}
#page2 .elem .dets .inner-text2{
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #454444;
}
#page2 .elem .dets .dot{
    font-size: 50px;
    margin-bottom: 35px;
}
#page2 .elem .dets .arrow{
    height: 29px;
}
#page2 .elem .dets:hover{
    height: 200px;
}
#big-text {
    height: 40vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
#big-text .big{
    height: 100%;
    width: 50%;
}
#big-text .big h1{
    font-size: 6.5vh;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 25px;
}
#big-text .small{
    height: 100%;
    width: 50%;
}
#big-text .small h4{
    font-size: 1.7vh;
    font-weight: 10;
    margin-top: 50px;
    padding-left: 30vh;
    padding-right: 15vh;
    font-family: gilroy;
    letter-spacing: 1.5px;
    line-height: 25px;
}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.child{
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 .child{
    display: flex;
    flex-direction: column;
}
#page3 .child h2{
    font-family: gilroy;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: 1.4vh;
    font-weight: 10;
}
#page3 .child h3{
    font-family: gilroy;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: 1.4vh;
    font-weight: 10;
}
.child img{
    height: 100%;
    /* width: 100%;
    object-fit: cover;
    object-position: center; */
}
#page3 #line-box{
    height: 100px;
    width: 97%;
    border-bottom: 1px solid rgb(36, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#page3 #line-box h3{
    font-size: 12px;
    font-weight: 100;
}
#nav{
    width: 100vw;
    position: fixed;
    z-index: 99;
    margin: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#nav #nav-part1{
    /* background-color: red; */
    height: 83px;
    overflow: hidden;
}
#nav #nav-part1 svg{
    display: block;
}
#nav-part1 svg:hover{
    cursor: pointer;
}
#nav #nav-part2{
    display: flex;

    align-items: center;
    justify-content: space-between;
    
}
#nav-part2 #links a{
    margin-right: 70px;
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-size: 12px;
    font-weight: 10;
}
#nav-part2 #links a:hover{
    text-decoration: underline 1px solid black;
}
#nav-part2 #icons i{
    font-size: 15px;
    margin: 0 30px;

}
#nav-part2 #icons i:hover{
    cursor: pointer;
}
#nav-part2 #icons{
    border-radius: 50px;
    background-color: #F7F7F7;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0vh 30vh; */
    padding: 30vh
}
#page4 h1{
    font-size: 9vh;
    text-transform: uppercase;
    text-align: center;
    line-height: 9vh;
    margin-bottom: 10vh;
}
#page4 button{
    height: 60px;
    width: 328px;
    padding: 20px 10px;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 4vh;
}
#page4 button:hover{
    cursor: pointer;
    color: #8e8e8f;
    transition:  all 0.2s ease-in-out;
}
#page4 h3{
    text-align: center;
    font-size: 16px;
    /* font-style: italic; */
    font-weight: lighter;
}
#email-box{
    height: 10vh;
    width: 97%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 2.5vh; 
   
}
.enter h1{
    font-size: 6vh;
}
.enter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.enter i {
    margin-left: 70vh;
}
.main-footer{
    height: 30vh;
    width: 100%;
    display: flex;
    margin-top: 20vh;
    gap: 10vh;
    padding: 3vh;
}
.main-footer .stpart{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    line-height: 7vh;
    color: rgb(118, 117, 117);
}
.main-footer .stpart a{
    text-decoration: none;
    line-height: 2.6vh;
    color: #333;
    font-size: 0.9rem;
    font-weight: lighter;
    width: 90px;
}
.main-footer .stpart a:hover{
    color: #a3a2a2;
}
.main-footer .rdpart a:hover{
    color: #a3a2a2;
}
.main-footer .ndpart{
    height: 100%;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: start;
}
.main-footer .ndpart img{
    height: 215px;
    width: 215px;
}
.main-footer .rdpart{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 7vh;
    color: rgb(118, 117, 117);
}
.main-footer .rdpart a{
    text-decoration: none;
    line-height: 2.6vh;
    color: #333;
    font-size: 0.9rem;
    font-weight: lighter;
}
.copyright{
    display: flex;
    gap: 5vh;
    justify-content: center;
    margin-top: 8vh;
    color: rgb(118, 117, 117);
}
.copyright h3{
    font-size: 11px;
    font-weight: lighter;
}
.copyright .cur:hover{
    cursor: pointer;
}
.last-footer{
    padding: 0vh 31vh;
}
.last-footer p{
    text-align: center;
    font-size: 11px;
    font-weight: lighter;
    margin-top: 10vh;
}


#footer{
    height: 65vh;
    width: 100%;
}


@media (max-width : 600px) {
    #nav{
    width: 100vw;
    position: fixed;
    z-index: 9;
    margin: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    }
    #nav #nav-part1{
    /* background-color: red; */
    height: 68px;
    width: 86px;
    overflow: hidden;
    }
    #nav #nav-part1 #logo2{
        height: 40px;
        margin-left: -10px;
    }
    #nav #nav-part1 svg{
    display: block;
    height: 69px;
    width: 86px;
    }
    #nav #nav-part2{
    display: flex;

    align-items: center;
    justify-content: space-between;

    }
    #nav-part2 #links a{
    display: none;
    }
    #nav-part2 #icons i{
    font-size: 20px;


    }
    #nav-part2 #icons{
    border-radius: 50px;
    background-color: #F7F7F7;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

    }


    #page1{
    min-height: 55vh;
    width: 100%;
    padding-top: 26vh;
    padding-left: 2vw;
    padding-right: 2vw;
    }
    #page1 h1{
    font-size: 7vh;
    line-height: 6.5vh;
    letter-spacing: -3px;
    }
    #video-container{
    height: 23vh;
    width: 100%;
    margin-top: 2vh;
    }
    #video-container #play{
    padding: 7vw 5.2vw;
    position: absolute;
    font-size: 4vw;
    opacity: 1;
    scale: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    #text h2{
    font-size: 3vh;
    margin-bottom: 4vh;
    }
    #text h4{
    font-weight: 100;
    font-size: 1.5vh;
    text-align: center;
    }
    #page2 {
    height: 130rem;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
    flex-direction: column;
    /* background-color: red; */
    }
    #page2 .elem{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3vh;

    }
    #page2 .elem img{
    height: 100vh;
    width: 100%;
    object-fit: cover; 
    object-position: left;
    scale: 1.2;
    }
    #page2 .elem .dets{
    height: 50px;
    width: 280px;
    background-color: #DCC0B4;
    border-radius: 50px;
    }
    #big-text {
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    }
    #big-text .big{
    height: 100%;
    width: 100%;
    }
    #big-text .big h1{
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    }
    #big-text .small{
    height: 100%;
    width: 100%;
    }
    #big-text .small h4{
    font-size: 15px;
    font-weight: 10;
    margin-top: 0px;
    padding: 2vh;   
    font-family: gilroy;
    letter-spacing: 1.5px;
    line-height: 25px;
    }
    #page3 {
    min-height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.child{
    height: 19vh;
    width: 50vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 .child{
    display: flex;
    flex-direction: column;
}
#page3 .child h2{
    font-family: gilroy;
    line-height: 15px;
    font-size: 15px;
    font-weight: 10;
    margin-left: 15px ;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}
#page3 .child h3{
    font-family: gilroy;

    font-size: 15px;
    font-weight: 10;
}
.child img{
    height: 100%;
}

}